@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/ProximaNova-Semibold.ttf");
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: "Open-Sans";
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "Open-Sans-SemiBold";
  src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Open-Sans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
}