.chat {
  grid-area: 3/3/span 1/span 1;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr;
  z-index: 1;
}

.chat__header {
  height: 50px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open-Sans-Light';
  line-height:50px; ;
  box-sizing: border-box;
  display: flex;
  border-radius:  8px 8px 0 0;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255,255,255);
  z-index:3;
  background-color: #4d75a3;
  padding: 0 25px 0 25px;
}

.chat__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.chat__avatar img {
  display: block;
  width:100%;
}

.chat__name {
  padding-left:15px;
}

.chat__online-status {
  display:block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:  #ffffff;
  margin-top: 2px;
  margin-left: 10px;
}

.chat__icon {
  color: rgba(255,255,255,0.65);
  width: 25px;
}

.chat__header__free-space {
  flex-grow: 2;
}

.chat__footer {
  height:50px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid rgba(0,0,0,0.12);
  grid-area: 3/1/span 1/span 1;
  z-index:2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Open-Sans-Light';
  font-size: 18px;
  color: #7595b9;
  padding: 0 25px 0 25px;
}

.chat__chat-history {
  padding: 25px;
  overflow: auto;
}

.chat__chat-history::-webkit-scrollbar {
  width: 12px;
}

.chat__chat-history::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid #fff;
    background-color: #e5e5e5;
}

.chat__input__wrap {
  flex-grow: 2;
  height:50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.chat__input {
  width: 100%;  
  outline: none;
  font-size: 14px;
  border: none;
  box-sizing: border-box;
}

.chat__input::placeholder { 
  color: rgba(0,0,0,0.25);
}

.chat__message {
  font-family: 'Open-Sans-Light';
  color: #667a90;
  font-size: 14px;
}

.chat__message__text {
  position: relative;
  display: inline-flex;
  max-width: 260px;
  padding: 20px;
  border-radius:8px ;
  background-color: #f2f4f6;
  box-sizing: border-box;
}

.chat__message__text::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: -10px;
  height: 36px;
  border-right: 20px solid #f2f4f6;
  background: #f2f4f6;
  border-bottom-right-radius: 36px 36px;
  transform: translate(0, -2px);
}

.chat__message__text::after {
  content: " ";
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: -11px;
  width: 20px;
  height: 36px;
  background: #fff;
  border-bottom-right-radius: 10px 40px;
  transform: translate(-9px, -2px);
}

.chat__message__alert {
  width:0;
  height:0;
  position: relative;
}

.chat__message__alert::before {
  position: absolute;
  content: '!';
  color:white;
  display: block;
  width:13px;
  height:13px;
  line-height: 13px;
  background-color: #ff6161;
  z-index: 3;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
}

.chat__message_mine {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.chat__message_mine .chat__message__text {
  background-color: #ebf3f9;
}

.chat__message_mine .chat__message__text::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -5px;
  right: -9px;
  
  left: unset;
  height: 36px;
  border-right: unset;
  border-left: 20px solid #ebf3f9;
  background: #ebf3f9;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: 36px 36px;
  transform: translate(0, -2px);
}

.chat__message_mine .chat__message__text::after {
  content: " ";
  position: absolute;
  z-index: -1;
  bottom:-5px;
  right: -29px;
  left: unset;
  width: 20px;
  height: 36px;
  background: #fff;
  border-bottom-left-radius: 10px 40px;
  border-bottom-right-radius: unset;
  transform: translate(-9px, -2px);
}


.chat__message__date {
  font-size: 9px;
  letter-spacing: 0px;
  line-height: 15px;
  color: rgb(177,177,177); 
  font-family: "Open-Sans-Light";
  text-align: left;
  max-width: 260px;
  margin: 10px 0;
}

.chat__history__separator {
  font-size: 12px;
  line-height: 48px;
  color: rgb(177,177,177); 
  font-family: "Open-Sans-SemiBold";
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.chat__history__separator__line {
  flex-grow: 2;
  height: 1px;
  margin-top: 6px;
  background-color: #e5e5e5;
}

.chat__history__separator__date {
  margin: 0 25px 0 25px; 
}